#footer {
  background: #222222;
  padding: 30px 0;
  color: #CCCCCC;

  ul {
    margin: 0;
  }
  .fa{
    font-size: 30px;
    color: $gray-light;
    &:hover{
      color: $orange;
    }
  }
  a{
    letter-spacing: 20px;
  }

}




