---
title: Le Wagon Middleman boilerplate
---
<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>WELCOME TO THE JUNGLE</h1>
    <p>Rent my jam with style</p>

    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Where">
      <input type="text" class="form-control input-lg" placeholder="Check In">
      <input type="text" class="form-control input-lg" placeholder="Check Out">

      <select name="#" id="" class="form-control input-lg">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
        <option value="4">4 guests</option>
      </select>

      <a class="btn btn-primary btn-lg">Search</a>


    </form>
  </div>
</div>




